body {
  background-color: #63221f;
}

h1 {
  color: #13241f;
  text-align: center;
  font-family: sans-serif;
  font-style: italic;`
}

li {
  color: #ab3d29;
  font-weight: bold;
  font-family: verdana;
}

a {
  color: #133a29;
  font-style: italic;
  font-family: verdana;
  font-size: 25px;
  text-align: center;
}
.container {
  background-color: #f9ba6d
}
